<div class="w-full min-h-screen px-24 inline-flex flex-col justify-start items-end gap-6">
    <div class="w-full h-36 flex flex-col justify-center items-end gap-4">
        <div class="w-full px-2.5 inline-flex items-center gap-2.5">
            <div class="flex-1 text-right justify-center text-color-page-text-title-2 text-4xl font-bold font-['Tajawal']">تنظيم تجمع جديد</div>
        </div>
        <div class="self-stretch px-2.5 inline-flex justify-end items-center gap-2.5">
            <div class="flex-1 text-right justify-center text-color-page-text-subtitle text-xl font-bold font-['Tajawal']">خطط لتجمع جديد في المجتمع و اترك أثراََ يدوم</div>
        </div>
    </div>
    <div class="w-full bg-secondary-50 font-tajawal ">
        <div class="max-w-5xl mx-auto"> 
             <div class="bg-white p-8 rounded-[30px] shadow-sm">
                <section class="space-y-6">                
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                        <div class="flex flex-col gap-2 md:col-span-2">
                            <label class="text-neutral-600">عنوان التجمع</label>
                            <input type="text" class="p-3 bg-gray-100 rounded-xl border border-neutral-300" />
                        </div>
                        <div class="flex flex-col gap-2 md:col-span-2">
                            <label class="text-neutral-600">وصف التجمع</label>
                            <input type="text" class="p-3 bg-gray-100 rounded-xl border border-neutral-300" />
                        </div>
                        <div class="flex flex-col gap-2">
                            <label class="text-neutral-600">التاريخ</label>
                            <input type="text" class="p-3 bg-gray-100 rounded-xl border border-neutral-300 focus:outline-primary-500" />
                        </div>
                        <div class="flex flex-col gap-2">
                            <label class="text-neutral-600">الوقت</label>
                            <input type="text" class="p-3 bg-gray-100 rounded-xl border border-neutral-300" />
                        </div>
                        <div class="flex flex-col gap-2">
                            <label class="text-neutral-600">عدد المتطوعين</label>
                            <input type="text" class="p-3 bg-gray-100 rounded-xl border border-neutral-300 focus:outline-primary-500" />
                        </div>
                        <div class="flex flex-col gap-2">
                            <label class="text-neutral-600">الوجبات</label>
                            <input type="text" class="p-3 bg-gray-100 rounded-xl border border-neutral-300" />
                        </div>
                        <div class="flex flex-col gap-2 md:col-span-2">
                            <label class="text-neutral-600">تفاصيل اخرى</label>
                            <input type="text" class="p-3 bg-gray-100 rounded-xl border border-neutral-300" />
                        </div>
                    </div>
                </section>

                <div class="flex justify-center gap-4 mt-12">
                    <button class="px-12 py-3 bg-primary-800 text-white rounded-xl font-bold">ابدأ التجمع</button>
                </div>
             </div>
        </div>
    </div>
</div>