<nav class="bg-secondary-50 fixed w-full z-20 top-0 lg:px-20 md:px-8 px-4">
  <!-- <div class="flex flex-col justify-center items-center"> -->
  <div
    class="max-w-screen-xl flex flex-wrap justify-between items-center p-4 font-tajawal relative"
  >
    <a
      [routerLink]="['/home']"
      routerLinkActive="active"
      class="flex items-center space-x-3 rtl:space-x-reverse w-fit"
    >
      <img
        src="../../../../assets/img/icons/Heart logo.png"
        class="h-8"
        alt="Heart Logo"
      />
      <span
        class="self-center text-5xl font-bold whitespace-nowrap text-primary-600"
        >مُطعِمُون</span
      >
    </a>

    <div class="flex space-x-3 md:space-x-0 rtl:space-x-reverse">
      <button
        type="button"
        (click)="applyNavToggle()"
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm rounded-lg md:hidden focus:outline-none focus:ring-0"
        style="color: #4a8266"
      >
        <span class="sr-only">فتح القائمة الرئيسية</span>
        <svg
          class="w-5 h-5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 17 14"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15"
          />
        </svg>
      </button>
    </div>

    <div
      class="md:flex items-center justify-between z-[999] absolute transition-all duration-700 top-[100%] md:static md:top-auto md:left-auto md:w-auto bg-transparent"
      [ngClass]="isOpened ? 'left-0 opacity-100' : 'left-[200%] opacity-90'"
    >
      <ul
        class="flex flex-col p-4 md:p-0 font-medium space-x-4 md:space-x-8 rtl:space-x-reverse md:flex-row"
      >
        <div
          class="bg-[image:var(--gradient-green-soft)] bg-opacity-40 backdrop-blur-2xl md:bg-none md:flex-row flex flex-col justify-between w-fit px-6 py-4 rounded-2xl shadow-custom md:shadow-none md:rounded-0 md:py-0 md:px-0 text-center"
        >
          <li class="">
            <a
              [routerLink]="['']"
              routerLinkActive="active"
              class="inline-block py-2 px-3 text-primary-700 text-3xl"
              aria-current="page"
              >الرئيسية</a
            >
          </li>
          <li class="">
            <a
              [routerLink]="['/meetups']"
              routerLinkActive="active"
              class="inline-block py-2 px-3 text-primary-700 text-3xl"
              aria-current="page"
              >التجمعات</a
            >
          </li>
          <li class="">
            <a
              routerLink="/meals"
              routerLinkActive="active"
              class="inline-block py-2 px-3 text-primary-700 text-3xl"
              aria-current="page"
              >الوجبات</a
            >
          </li>
          <li class="">
            <a
              routerLink="/profile"
              routerLinkActive="active"
              class="inline-block py-2 px-3 text-primary-700 text-3xl"
              aria-current="page"
              >المدونة</a
            >
          </li>
          <li class="">
            <a
              routerLink="login"
              routerLinkActive="active"
              class="inline-block py-2 px-3 text-primary-700 text-md"
              aria-current="page"
            >
              <app-button
                [background]="'bg-primary-800'"
                [textColor]="'text-white'"
                >تسجيل الدخول
              </app-button></a
            >
          </li>
        </div>
      </ul>
    </div>
  </div>
  <div class="text-start md:text-center">
    <span
      class="text-primary-700 inline-block py-4 text-sm md:text-xl lg:text-2xl font-medium"
      >وَيُطْعِمُونَ الطَّعَامَ عَلَىٰ حُبِّهِ مِسْكِينًا وَيَتِيمًا
      وَأَسِيرًا</span
    >
  </div>
  <!-- </div> -->
</nav>
