<section class="container mx-auto px-4 py-8">
  <!-- Upcoming Meetups Section -->
  <div
    class="flex justify-center text-3xl font-tajawal font-bold mb-10 text-main-dark"
  >
    <p>التجمعات القادمة</p>
  </div>
  <!-- card -->
  <div class="grid grid-cols-1 md:grid-cols-2 gap-2 lg:gap-2">
    <!-- card item -->
    <div
      class="max-w-lg w-full mx-auto bg-white rounded-xl shadow-lg border border-gray-200"
    >
      <!-- image -->
      <a>
        <img
          class="rounded-t-xl object-cover w-full h-64"
          src="./assets/img/m1.jpg"
          alt="img"
        />
      </a>

      <div class="p-6">
        <div class="flex items-center justify-center mb-4">
          <p
            class="mb-4 text-2xl font-bold font-tajawal text-gray-900 text-main-dark"
          >
            تجمع رمضان الخيري
          </p>
        </div>

        <div class="space-y-6 mb-6 font-tajawal text-gray-700">
          <div class="flex justify-between items-center gap-2 mb-4">
            <!-- icon -->
            <div class="mr-2 text-2xl">جدة - حي السلامة</div>
            <div class="ml-5">
              <i class="fa-solid fa-location-dot text-2xl text-main-dark"></i>
            </div>
          </div>
          <div class="flex justify-between items-center gap-2 mb-4">
            <!-- icon -->
            <div class="mr-2 text-2xl">15 رمضان</div>
            <div class="ml-5">
              <i class="fa-solid fa-calendar text-2xl text-main-dark"></i>
            </div>
          </div>
          <div class="flex justify-between items-center gap-2 mb-4">
            <!-- icon -->
            <div class="mr-2 text-2xl">نحتاج 5 متطوعين</div>
            <div class="ml-5">
              <i class="fa-solid fa-people-group text-2xl text-main-dark"></i>
            </div>
          </div>
        </div>

        <button
          class="w-full text-white bg-main-dark hover:bg-main-dark/90 transition-all duration-200 ease-in font-bold font-tajawal rounded-full text-center py-3"
        >
          اعرف أكثر
        </button>
      </div>
    </div>
    <!-- card item -->
    <div
      class="max-w-lg w-full mx-auto bg-white rounded-xl shadow-lg border border-gray-200"
    >
      <!-- image -->
      <a>
        <img
          class="rounded-t-xl object-cover w-full h-64"
          src="./assets/img/m1.jpg"
          alt="img"
        />
      </a>

      <div class="p-6">
        <div class="flex items-center justify-center mb-4">
          <p
            class="mb-4 text-2xl font-bold font-tajawal text-gray-900 text-main-dark"
          >
            تجمع رمضان الخيري
          </p>
        </div>

        <div class="space-y-6 mb-6 font-tajawal text-gray-700">
          <div class="flex justify-between items-center gap-2 mb-4">
            <!-- icon -->
            <div class="mr-2 text-2xl">جدة - حي السلامة</div>
            <div class="ml-5">
              <i class="fa-solid fa-location-dot text-2xl text-main-dark"></i>
            </div>
          </div>
          <div class="flex justify-between items-center gap-2 mb-4">
            <!-- icon -->
            <div class="mr-2 text-2xl">15 رمضان</div>
            <div class="ml-5">
              <i class="fa-solid fa-calendar text-2xl text-main-dark"></i>
            </div>
          </div>
          <div class="flex justify-between items-center gap-2 mb-4">
            <!-- icon -->
            <div class="mr-2 text-2xl">نحتاج 5 متطوعين</div>
            <div class="ml-5">
              <i class="fa-solid fa-people-group text-2xl text-main-dark"></i>
            </div>
          </div>
        </div>

        <button
          class="w-full text-white bg-main-dark hover:bg-main-dark/90 transition-all duration-200 ease-in font-bold font-tajawal rounded-full text-center py-3"
        >
          اعرف أكثر
        </button>
      </div>
    </div>
  </div>
</section>
