<section id="about">
  <div class="grid md:grid-cols-2 grid-cols-1">
    <div class="img">
      <img
        src="assets/img/imgs/f606a74d-fe4e-4928-b1eb-b8809b7fd633 1.png"
        alt=""
      />
    </div>
    <div class="text-5xl text-primary-800">
      <h2 class="text-primary-600 text-5xl">المطْعِمُون</h2>
      <h3 class="text-3xl text-primary-800">أكثر من وجبة - جسر من الكرامة</h3>
      <p>
        انطلاقاً من حديث
        <span class="text-primary-500">'خيركم من أطعم الطعام'</span>، يربط
        المطعمون المطاعم والمطابخ المنزلية والمتطوعين بجيراننا المحتاجين كل وجبة
        يتم تحضيرها بنفس الجودة والحب الذي تقدمه لعائلتك
      </p>
    </div>
  </div>
  <app-button
    [background]="'transparent'"
    [textColor]="'text-primary-800'"
  ></app-button>
</section>
