<div class="my-10 mx-s md:mx-md lg:mx-l m-auto">
    <div class="flex justify-center p-2.5">
        <div class="lg:text-5xl text-2xl text-center text-primary-800">
            <p class="leading-normal font-bold">
                "نوفّر وجبات غذائية متوازنة يوميًا مجانًا، لكل من يحتاج هدفنا أن يصل الطعام لكل محتاج بكرامة واحترام"
                <span class="text-primary-600">اكتشف كيف نطعم المحتاجين يوميًا</span>
                وكيف يمكنك أن تكون جزءًا من الخير
            </p>
        </div>
    </div>
    <!-- Meals Carousel -->
    <div id="animation-carousel" class="relative m-auto my-4 z-10 scale-75 md:scale-0" data-carousel="static">
       <div class="relative h-[25rem] md:h-[55rem] overflow-hidden">
            <div class="absolute inset-0  hidden duration-200 ease-linear" data-carousel-item>
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-3 lg:gap-6">
                    <app-meal-card class="block" ></app-meal-card>
                    <app-meal-card class="hidden md:block"></app-meal-card>
                    <app-meal-card class="hidden md:block"></app-meal-card>
                    <app-meal-card class="hidden md:block"></app-meal-card>
                    <app-meal-card class="hidden lg:block"></app-meal-card>
                    <app-meal-card class="hidden lg:block"></app-meal-card>
                </div>
            </div>
            <div class="absolute inset-0 hidden duration-200 ease-linear" data-carousel-item="active">
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-3 lg:gap-6">
                    <app-meal-card class="block" ></app-meal-card>
                    <app-meal-card class="hidden md:block"></app-meal-card>
                    <app-meal-card class="hidden md:block"></app-meal-card>
                    <app-meal-card class="hidden md:block"></app-meal-card>
                    <app-meal-card class="hidden lg:block"></app-meal-card>
                    <app-meal-card class="hidden lg:block"></app-meal-card>
                </div>
            </div>
        </div>
        <button type="button" class="absolute top-0 -right-20 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
            <span class="inline-flex items-center justify-center w-10 h-10 border border-primary-700 rounded-full bg-primary-50 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                <svg class="w-4 h-4 text-primary-500 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
                </svg>
                <span class="sr-only">Previous</span>
            </span>
        </button>
        <button type="button" class="absolute top-0 -left-20 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
            <span class="inline-flex items-center justify-center w-10 h-10 border border-primary-700 rounded-full bg-primary-50 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                <svg class="w-4 h-4 text-primary-500 dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
            </svg>
            <span class="sr-only">Next</span>
            </span>
        </button>
    </div>
    <!-- Info Cards -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 lg:gap-2 my-6">
        @for( data of infoData; track data.id){
            <!-- card item -->
            <div class="max-w-lg w-full mx-auto rounded-3xl shadow-xl drop-shadow-xl border ">
                <div class="flex items-center justify-center mb-4">
                    <p class="my-4 text-3xl font-bold font-tajawal text-primary-700">
                    {{data.headline}}
                    </p>
                </div>
                <!-- image -->
                <img class="object-cover w-full h-64"
                    [src]="data.img_url" alt="img" />
                <div class="my-3 px-2.5 py-5">
                    <div class="space-y-6 mb-6 font-tajawal text-primary-700">
                        <p class="flex flex-col gap-4 text-2xl">
                            <span>{{data.sentences[0]}}</span>
                            <span>{{data.sentences[1]}}</span>
                            <span>{{data.sentences[2]}}</span>
                            <span>{{data.sentences[3]}}</span>
                        </p>
                    </div>
                </div>
            </div>
            <!-- card item -->
      }
    </div>
    <div class="flex justify-center py-2.5 md:px-7 lg:px-0 mx-s md:mx-md lg:mx-l m-auto">
        <div class="lg:text-5xl md:text-4xl text-2xl text-center text-primary-800">
            <p class="leading-normal font-bold">
                ليس مجرد وجبة، بل رسالة حب وكرامة تصل لمن هو في أمسّ الحاجة
                <span class="text-primary-600">ساهم اليوم</span>
                <br>
                وكن سببًا في سدّ جوع محتاج        
            </p>
        </div>
    </div>
    <!-- CTA Button navigates to registeration page -->
    <div class="flex justify-center items-center">
        <button
        aria-label="انتقل إلى صفحة التسجيل"
        (click)="goToRegistration()"
        class=" w-11/12 md:w-5/12 text-secondary-50 text-2xl
                bg-primary-700 hover:bg-primary-600 transition-all
                duration-200 ease-in font-bold font-tajawal
                border border-primary-700 rounded-xl
                text-center p-2.5">
            شارك في الإطعام
        </button>
    </div>
</div>