<div class="login-container flex justify-center h-[100vh]">
  <div
    class="w-[98%] xl:w-[70%] text-center rounded-xl px-7 lg:px-14 py-10 text-[var(--accent)]"
  >
    <div
      class="grid grid-cols-1 md:grid-cols-2 gap-5 rounded-md shadow-custom px-8 py-14 md:p-14"
    >
      <div class="image flex flex-col justify-center items-center">
        <a
          [routerLink]="['/home']"
          routerLinkActive="active"
          class="flex items-center space-x-3 rtl:space-x-reverse w-fit"
        >
          <img
            src="../../../../assets/img/icons/Heart logo.png"
            class="h-8"
            alt="Heart Logo"
          />
          <span
            class="self-center text-5xl font-bold whitespace-nowrap text-primary-600"
            >مُطعِمُون</span
          >
        </a>

        <div class="w-[250px] md:w-[300px] lg:w-[350px]">
          <img
            class="w-full"
            src="../../../../../assets/login/Layer_1.png"
            alt=""
          />
        </div>
      </div>

      <div class="form text-right">
        <div class="max-w-sm mx-auto text-primary-700">
          <h2
            class="text-2xl font-bold text-[var(--accent)] my-4 drop-shadow-sm text-center md:text-right"
          >
            مرحباً بك مرة أُخرى!
          </h2>

          <span class="block my-4 text-center md:text-right">
            أدخل بياناتك للوصول إلى حسابك
          </span>

          <form [formGroup]="registerForm" (ngSubmit)="registerOperation()">
            <!-- name -->
            <div class="mb-8">
              <label for="name" class="block mb-3 text-[11px] font-medium">
                اسم المستخدم
              </label>

              <input
                type="text"
                formControlName="name"
                id="name"
                class="bg-transparent border border-[#D9D9D9] text-sm rounded-lg focus:border-primary-700 focus:outline-none block w-full p-2.5"
                placeholder="أدخل اسم المستخدم"
              />

              @if (registerForm.get("name")?.touched) {
                @if (registerForm.get("name")?.errors?.["required"]) {
                  <p class="mt-2 text-xs text-red-600">
                    <span class="font-medium">تنبيه:</span> اسم المستخدم مطلوب
                  </p>
                } @else if (registerForm.get("name")?.errors?.["pattern"]) {
                  <p class="mt-2 text-xs text-red-600">
                    <span class="font-medium">تنبيه:</span> أدخل اسم مستخدم صحيح
                  </p>
                }
              }
            </div>

            <!-- email -->
            <div class="mb-8">
              <label for="email" class="block mb-3 text-[11px] font-medium">
                البريد الإلكتروني
              </label>

              <input
                type="email"
                formControlName="email"
                id="email"
                class="bg-transparent border border-[#D9D9D9] text-sm rounded-lg focus:border-primary-700 focus:outline-none block w-full p-2.5"
                placeholder="أدخل بريدك الإلكتروني"
              />

              @if (registerForm.get("email")?.touched) {
                @if (registerForm.get("email")?.errors?.["required"]) {
                  <p class="mt-2 text-xs text-red-600">
                    <span class="font-medium">تنبيه:</span> البريد الإلكتروني
                    مطلوب
                  </p>
                } @else if (registerForm.get("email")?.errors?.["email"]) {
                  <p class="mt-2 text-xs text-red-600">
                    <span class="font-medium">تنبيه:</span> أدخل بريد إلكتروني
                    صحيح
                  </p>
                }
              }
            </div>

            <!-- password -->
            <div class="mb-8">
              <label
                for="password"
                class="mb-3 text-[11px] flex justify-between font-medium"
              >
                كلمة المرور
              </label>

              <input
                type="password"
                formControlName="password"
                id="password"
                class="bg-transparent border border-[#D9D9D9] text-sm rounded-lg focus:border-primary-700 focus:outline-none block w-full p-2.5"
              />

              @if (registerForm.get("password")?.touched) {
                @if (registerForm.get("password")?.errors?.["required"]) {
                  <p class="mt-2 text-xs text-red-600">
                    <span class="font-medium">تنبيه:</span> كلمة المرور مطلوبة
                  </p>
                } @else if (
                  registerForm.get("password")?.errors?.["minlength"]
                ) {
                  <p class="mt-2 text-xs text-red-600">
                    <span class="font-medium">تنبيه:</span> يجب أن تكون كلمة
                    المرور 8 أحرف على الأقل
                  </p>
                } @else if (registerForm.get("password")?.errors?.["pattern"]) {
                  <p class="mt-2 text-xs text-red-600">
                    <span class="font-medium">تنبيه:</span> يجب أن تحتوي على حرف
                    كبير وصغير ورقم ورمز خاص
                  </p>
                }
              }
            </div>

            <!-- phone -->
            <div class="mb-8">
              <label for="phone" class="mb-3 text-[11px] font-medium">
                رقم الهاتف
              </label>

              <input
                type="tel"
                formControlName="phone_number"
                id="phone"
                class="bg-transparent border border-[#D9D9D9] text-sm rounded-lg focus:border-primary-700 focus:outline-none block w-full p-2.5"
              />

              @if (registerForm.get("phone_number")?.touched) {
                @if (registerForm.get("phone_number")?.errors?.["required"]) {
                  <p class="mt-2 text-xs text-red-600">
                    <span class="font-medium">تنبيه:</span> رقم الهاتف مطلوب
                  </p>
                } @else if (
                  registerForm.get("phone_number")?.errors?.["pattern"]
                ) {
                  <p class="mt-2 text-xs text-red-600">
                    <span class="font-medium">تنبيه:</span> يجب إدخال رقم مكوّن
                    من 10 أرقام فقط
                  </p>
                }
              }
            </div>

            <!-- remember -->
            <!-- <div class="flex items-center justify-between text-[12px]">
              <div class="flex items-center">
                <input type="checkbox" class="w-4 h-4 border rounded-sm" />
                <label class="ms-2">تذكرني</label>
              </div>
            </div> -->

            <app-button
              [disabled]="isLoading()"
              [background]="'bg-primary-800'"
              [textColor]="'text-white'"
              [width]="'w-full'"
            >
              @if (isLoading()) {
                <span class="text-center"> جاري التحميل ... </span>
              } @else {
                <span> إنشاء حساب</span>
              }
            </app-button>

            <div class="w-fit mx-auto my-4">
              <span class="text-primary-700 font-medium flex justify-center"
                >أو</span
              >

              <div
                class="flex gap-2 items-center border rounded-3xl py-3 px-6 mb-3"
              >
                <img src="../../../../../assets/login/Vector.png" alt="" />
                <span class="text-[12px]">تسجيل الدخول باستخدام Apple</span>
              </div>

              <div
                class="flex gap-2 items-center border rounded-3xl py-3 px-6 mb-3"
              >
                <img
                  src="../../../../../assets/login/icons8-google 1.png"
                  alt=""
                />
                <span class="text-[12px]">تسجيل الدخول باستخدام Google</span>
              </div>

              <a
                routerLink="/auth/login"
                class="hover:underline block mx-auto w-fit text-[var(--hover)]"
              >
                لديك حساب بالفعل؟ تسجيل الدخول
              </a>
            </div>

            @if (errorLoginMessage) {
              <span class="text-[12px] text-red-600">
                {{ errorLoginMessage }}
              </span>
            }
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ================ spinner ============ -->
@if (isOpenedSpinner()) {
  <ngx-spinner
    bdColor="rgba(0, 0, 0, 0.8)"
    size="default"
    color="#fff"
    type="ball-atom"
    [fullScreen]="true"
    ><p style="color: white">جاري التحميل...</p></ngx-spinner
  >
}
