<div class="mx-s md:mx-md lg:mx-l  bg-[#FAF8F0] m-auto">
     <!-- Blog 3 -->
    <div class="flex flex-col gap-8 lg:px-24">
            <div class="article-1 py-2">
                    <div class="relative w-full max-w-4xl mx-auto">
                    <!-- الفيديو -->
                    <video controls>
                        <source src="assets/blog_page/blog1.mp4" type="video/mp4" />
                    </video>
                    </div>
                    <!-- Text Section -->
                    <article class="leading-normal py-10 font-tajawal font-bold text-primary-800">
                        <h5 class="text-4xl">المطعِمون: حيث يطعم المعطي قلبه أولًا</h5>
                        <p class="text-3xl">
                            قال تعالى:
                            <br>
                            *"ويطعمون الطعام على حبّه مسكينًا ويتيما وأسيرا، إنما نطعمكم لوجه الله لا نريد منكم جزاءً ولا شكورًا"*
                            هذا هو جوهر الإطعام كما رسمه القرآن الكريم: ليس تفضّلًا من مُعطٍ على محتاج، بل عبادة تُبتغى فيها رضا الله وحده، يتسابق فيها من أراد أن يطهّر قلبه قبل ماله.
                            <br>
                            المطعِمون ليست مجرد منصة، بل موقف إنساني راقٍ يعيد صياغة فعل الخير برقيّ وأدب، حيث تُمدّ اليد بالخير دون أن تُنزل من يأخذ، بل ترفعه وتحفظ له كرامته.
                            في هذه المنصة، لا تُشبع البطون فحسب، بل تُصان الكرامات، وتُبنى جسور رحمة بين من يساهم، ومن يطبخ، ومن يوصّل، ومن يتلقّى الطعام في هدوءٍ واحترام.
                            الفكرة بسيطة وعميقة: شراكة مع مطاعم تقدم وجبات لائقة بأسعار رمزية، ليست فائضة أو زائدة، بل مساهمة صادقة في الخير. المستخدمون يختارون شراء الوجبة لأنفسهم أو إهدائها لمن لا يعرفونه، فتُفتح لهم أبواب الأجر من غير إعلان أو تبرير. والمتطوعون يوصّلون هذه الوجبات بلباقة وخصوصية، يُمكنك أن: 
                        </p>
                    </article>
                    <div class="flex justify-center md:justify-end items-center">
                        <button 
                            class="text-primary-700 font-tajawal font-bold
                            w-6/12 md:w-auto text-2xl
                            border border-primary-700 rounded-xl py-2.5 px-3
                            hover:text-primary-500 active:bg-active-gradient
                            active:text-primary-700 cursor-pointer">
                            اقرأ المزيد...
                        </button>
                    </div>
            </div>
            <hr class="text-primary-700 font-bold">
            <div class="article-2 py-2">
                <img src="assets/blog_page/blog2.png" alt="">
                <!-- Text Section -->
                <article class="text-center leading-normal py-10 font-tajawal font-bold text-primary-800">
                    <h5 class="text-4xl">هل العمل الصالح يُخرج من الهم؟</h5>
                    <p class="text-3xl py-2">نعم، لأن:</p>
                    <ul class="list-decimal pr-5 text-3xl list-inside pr-5 text-3xl inline-block text-center ">
                        <li>
                            العمل الصالح يقربك من الله، والقرب من الله هو الأمان الحقيقي.
                        </li>
                        <li>
                            الله وعد بذلك:  
                            “ومن يتق الله يجعل له مخرجًا” [الطلاق: 2]  
                            “من عمل صالحًا من ذكر أو أنثى وهو مؤمن فلنحيينه حياة طيبة” [النحل: 97]
                        </li>
                        <li>
                            النبي ﷺ قال:  
                            “من نفس عن مؤمن كربة من كرب الدنيا، نفس الله عنه كربة من كرب يوم القيامة” [رواه مسلم]  
                            يعني لما تنفس كربة عن غيرك، ربنا ينفس عنك.
                        </li>
                        <li>
                            لانشغال بالخير يقطع دوامة التفكير السلبي.  
                            بدل ما تقعد مع همك، تقوم تواسي يتيم، تطعم محتاج، تزور مريض… فتتبدل حالك.
                        </li>
                    </ul>

                    <p class="text-3xl py-2">أمثلة من السلف:</p>
                    <ul class="list-disc pr-5 text-3xl">
                        <li>
                            ابن القيم قال:  
                            “إن للصدقة تأثيرًا عجيبًا في دفع البلاء، ولو كانت من فاجر أو ظالم.”
                        </li>
                        <li>
                            ناس كتير كانوا يقولوا:  
                            “كنت مهموم، فلما ساعدت محتاج، وجدت انشراحًا لا أصفه.”  
                            خلاصة الكلام:
                        </li>
                        <li>العمل الصالح مش بس عبادة… دا طريق للخروج من الهم والكرب.</li>
                        <li>المهم: نية صافية + إخلاص لله + الاستمرار.</li>
                    </ul>
                </article>
                <div class="flex justify-center md:justify-end items-center">
                        <button 
                            class="text-primary-700 font-tajawal font-bold
                            w-6/12 md:w-auto text-2xl
                            border border-primary-700 rounded-xl py-2.5 px-3
                            hover:text-primary-500 active:bg-active-gradient
                            active:text-primary-700 cursor-pointer">
                            اقرأ المزيد...
                        </button>
                </div>
            </div>
            <hr class="text-primary-700 font-bold">
            <!-- Article 3 -->
            <div class="article-3 py-5">
                <div id="default-carousel" class="relative w-full z-10" data-carousel="slide">
                    <!-- Carousel wrapper -->
                    <div class="relative h-64 md:h-80 lg:h-96 overflow-hidden">
                        <!-- Item 1 -->
                        <div class="hidden duration-700 ease-in-out" data-carousel-item>
                            <img src="assets/blog_page/slide1.png" class="absolute block w-full h-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                        </div>
                        <!-- Item 2 -->
                        <div class="hidden duration-700 ease-in-out" data-carousel-item>
                            <img src="assets/blog_page/slide2.png" class="absolute block w-full h-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                        </div>
                        <!-- Item 3 -->
                        <div class="hidden duration-700 ease-in-out" data-carousel-item>
                            <img src="assets/blog_page/slide3.png" class="absolute block w-full h-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                        </div>
                    </div>
                    <!-- Slider indicators -->
                    <div class="absolute z-30 flex -translate-x-1/2 bottom-1 left-1/2 space-x-3 rtl:space-x-reverse">
                        <button type="button" class="w-3 h-3 rounded-full" aria-current="true" aria-label="Slide 1" data-carousel-slide-to="0"></button>
                        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1"></button>
                        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 3" data-carousel-slide-to="2"></button>
                    </div>
                    <!-- Slider controls -->
                    <button type="button" class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
                        <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                            <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
                            </svg>
                            <span class="sr-only">Previous</span>
                        </span>
                    </button>
                    <button type="button" class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
                        <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                            <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                            </svg>
                            <span class="sr-only">Next</span>
                        </span>
                    </button>
                </div>
                <!-- Text Section -->
                <article  class="leading-normal py-10 font-tajawal font-bold text-primary-800">
                    <h5 class="text-4xl">“مش بس فعل… النية كل حاجة”</h5>
                    <p class="text-3xl">
                        في عالم سريع، مليان مهام وأخبار، ساعات بننسى إن أبسط فعل ممكن يترفع عند ربنا لو اتغلف بنية صادقة.
                        مش لازم تكون شيخ، ولا داعية، ولا معاك فلوس كتير…
                        يكفي تكون نيتك لله، وربنا هيبارك في القليل، ويُضاعف الأجر.
                        🚶‍♂️ واحد بيحجز أكل من مطعمه المفضل…
                        بس المرة دي مش ليه، لمسكين، غريب، يتيم، أو حتى عامل بسيط في الشارع.
                        ممكن يظهر الفعل بسيط: “طلب وجبة وراح لحاله”
                        لكن… النية هنا بتقلب الموازين.
                        قال النبي ﷺ:
                        “إنما الأعمال بالنيات، وإنما لكل امرئ ما نوى…” [البخاري ومسلم]
                        نفس الفعل… شخصين… نيتين… وأجر مختلف تمامًا.
                        بنيتك هتعمل اي؟
                    </p>
                    <ul class="list-disc pr-5 text-3xl">
                        <li>لما تطعم محتاج، مش بس بتشبع بطنه…
                        أنت بتقوّي إيمانه إن لسه في خير.
                        أنت بتثبتله إن ربنا مش ناسيه.
                        </li>
                        <li>لما تشارك في فعالية “المطعِمون” حتى لو بنية بس،</li>
                    </ul>
                </article>
                <div class="flex justify-center md:justify-end items-center">
                        <button 
                            class="text-primary-700 font-tajawal font-bold
                            w-6/12 md:w-auto text-2xl
                            border border-primary-700 rounded-xl py-2.5 px-3
                            hover:text-primary-500 active:bg-active-gradient
                            active:text-primary-700 cursor-pointer">
                            اقرأ المزيد...
                        </button>
                </div>
            </div>
    </div>
</div>
