<app-header></app-header>
<div class="mx-4 md:mx-8 lg:mx-20 mt-52">
  <app-hero></app-hero>
  <!-- <app-about></app-about>
  <app-brands></app-brands>
  <app-services></app-services>
  <app-insights></app-insights>
  <app-meals></app-meals>
  <app-meetups></app-meetups> -->

  <div>
    <app-header></app-header>
    <section id="hero">
      <app-hero></app-hero>
    </section>
    <section id="about">
      <app-about></app-about>
    </section>
    <section id="insights">
      <app-insights></app-insights>
    </section>
    <section id="meals">
      <app-meals></app-meals>
    </section>
    <section id="meetups">
      <app-meetups></app-meetups>
    </section>
  </div>
  <app-footer></app-footer>
</div>
