<div class="lg:px-20 md:px-8 px-4">
  <app-meetups-hero
    [title]="'اجتمعنا على الخير... وامتدت أيدينا بالطعام'"
    [p]="
      'شارك في تجمعات الإطعام الميدانية، وساعدنا في تحضير وتوزيع وجبات تحفظ الكرامة، معًا نبني روابط قوية'
    "
    [btn]="'انضم للتجمع القادم'"
  ></app-meetups-hero>
  <app-blogs></app-blogs>
  <app-last-meetups></app-last-meetups>
  <app-meetups-hero
    [title]="'تريد تنظيم تجمع؟'"
    [p]="'هل لديك فكرة لتجمع مجتمعي ؟ يسعدنا سماع فكرتك ومساعدتك في تحقيقها'"
    [btn]="'ابدأ بتنظيم تجمع'"
  ></app-meetups-hero>
</div>
