<div dir="rtl" class="grid grid-cols-1 md:grid-cols-3 gap-4 p-6 bg-[#FAF8F0]">
    <!-- Card 1 -->
    <div class="w-[397px] h-[187px] border border-primary-600 rounded-[25px] pt-[17px] pr-[143px] pb-[17px] pl-[143px] bg-[#EFF6F2] text-center">
      <div class="flex flex-col items-center space-y-[18px]">
        <img src="assets/insights_section/Dove.png" alt="lock" class="w-10 h-10" />
        <div class="text-[22px] font-bold text-primary-800">89</div>
        <div class="text-[13px] text-primary-800"> ملائكة التوصيل </div>
      </div>
    </div>
    
    <!-- Card 2 -->

  <div class="w-[397px] h-[187px] border border-primary-600 rounded-[25px] pt-[17px] pr-[143px] pb-[17px] pl-[143px] bg-[#EFF6F2] text-center">
    <div class="flex flex-col items-center space-y-[18px]">
        <img src="src/assets/insights_section/Online Shop.png" alt="lock" class="w-10 h-10" />
        <div class="text-[22px] font-bold text-primary-800">45</div>
        <div class="text-[13px] text-primary-800">الشركاء المباركون </div>
    </div>
  </div>

  <!-- Card 3 -->
  <div class="w-[397px] h-[187px] border border-primary-600 rounded-[25px] pt-[17px] pr-[143px] pb-[17px] pl-[143px] bg-[#EFF6F2] text-center">
    <div class="flex flex-col items-center space-y-[18px]">
        <img src="assets/insights_section/Password.png" alt="lock" class="w-10 h-10" />
        <div class="text-[22px] font-bold text-primary-800">89</div>
        <div class="text-[13px] text-primary-800">الوجبات المشاركة</div>
    </div>
  </div>
</div>
