<div class="login-container flex items-center justify-center h-[100vh]">
  <div
    class="shadow-[var(--main-shadow)] w-[70%] text-center text-right rounded-xl px-14 py-10 text-[var(--accent)]"
  >
    <div class="grid grid-cols-2 gap-5">
      <div class="form">
        <h2
          class="text-2xl font-bold text-[var(--accent)] my-4 text-center drop-shadow-sm"
        >
          ! مرحباً بك مرة أُخرى
        </h2>
        <span class="inline-block my-4"
          >أدخل بياناتك الخاصة للوصول إلى حسابك
        </span>
        <form [formGroup]="loginForm" class="max-w-sm mx-auto">
          <div class="mb-8">
            <label for="email" class="block mb-3 text-[11px] text-right">
              عنوان البريد الإلكتروني
            </label>
            <input
              type="email"
              formControlName="email"
              id="email"
              class="bg-gray-50 border border-neutral-200 text-gray-900 text-sm rounded-lg focus:ring-0 focus:border-0 focus:shadow-[0_0_0_4px_rgba(241,167,62,0.3),_0_0_0_8px_rgba(240,114,83,0.2)] transition-shadow duration-300 block w-full p-2.5"
              required
            />
            <!-- Email Errors -->
            @if (loginForm.get('email')?.touched) { @if
            (loginForm.get('email')?.errors?.['required']) {
            <div>
              <p
                id="standard_error_help"
                class="mt-2 text-xs text-red-600 dark:text-red-400"
              >
                <span class="font-medium">Oh, snapp!</span> The email is
                required!
              </p>
            </div>
            } @else if (loginForm.get('email')?.errors?.['email']) {
            <div>
              <p
                id="standard_error_help"
                class="mt-2 text-xs text-red-600 dark:text-red-400"
              >
                <span class="font-medium">Oh, snapp!</span> Please enter a valid
                email!
              </p>
            </div>
            } }
          </div>
          <div class="mb-8">
            <label
              for="password"
              class="mb-3 text-[11px] text-right flex justify-between items-center"
              ><span> كلمة المرور </span><span> نسيت كلمة المرور </span></label
            >
            <input
              type="password"
              formControlName="password"
              id="password"
              class="bg-gray-50 border border-neutral-200 text-gray-900 text-sm rounded-lg focus:ring-0 focus:border-0 focus:shadow-[0_0_0_4px_rgba(241,167,62,0.3),_0_0_0_8px_rgba(240,114,83,0.2)] transition-shadow duration-300 block w-full p-2.5"
              required
            />

            <!-- Password Errors -->
            @if (loginForm.get('password')?.touched) { @if
            (loginForm.get('password')?.errors?.['required']) {
            <div>
              <p
                id="standard_error_help"
                class="mt-2 text-xs text-red-600 dark:text-red-400"
              >
                <span class="font-medium">Oh, snapp!</span> The password is
                required!
              </p>
            </div>
            } @else if (loginForm.get('password')?.errors?.['minlength']) {
            <div>
              <p
                id="standard_error_help"
                class="mt-2 text-xs text-red-600 dark:text-red-400"
              >
                <span class="font-medium">Oh, snapp!</span> Password must be at
                least 8 characters!
              </p>
            </div>
            } @else if (loginForm.get('password')?.errors?.['pattern']) {
            <div>
              <p
                id="standard_error_help"
                class="mt-2 text-xs text-red-600 dark:text-red-400"
              >
                <span class="font-medium">Oh, snapp!</span> Password must
                contain uppercase, lowercase, number, and special character!
              </p>
            </div>
            } }
          </div>
          <div class="flex items-center justify-between text-[12px]">
            <div class="text-[12px] text-gray-400">
              <!-- Left: Checkbox -->
              <div class="flex items-center mb-2 sm:mb-0">
                <input
                  id="remember"
                  type="checkbox"
                  class="w-4 h-4 border border-gray-300 rounded-sm bg-gray-50 text-[var(--hover)] focus:ring-0 focus:outline-0"
                />
                <label for="remember" class="ms-2">تذكرني</label>
              </div>
            </div>
            <!-- Right: Links -->
          </div>

          <a routerLink="login" class="block w-full my-4 py-2 px-3">
            <app-button
              [background]="'bg-primary-800'"
              [textColor]="'text-white'"
              >تسجيل الدخول
            </app-button></a
          >
          <a
            routerLink="/register"
            class="hover:text-[var(--accent)] text-[var(--hover)] hover:underline transition"
          >
            <span>ليس لديك حساب؟ </span>التسجيل</a
          >
          @if (errorLoginMessage) {
          <span class="text-[12px] text-red-600">{{ errorLoginMessage }}</span>
          }
        </form>
      </div>
      <div class="image">
        <img class="w-full" src="/images/Computer login-amico (1).png" alt="" />
      </div>
    </div>
  </div>
</div>
